@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* ------------------------------------ */
.u__margin__top--medium {
  margin-top: 2.4rem;
}
.u__margin__top--large {
  margin-top: 3.2rem;
}
/* ------------------------------------ */

.header {
  width: 100%;
}
.navigation {
  height: 9.4rem;
  background-color: #562eff;
}
.navigation__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 67.7%;
  height: 9.4rem;
  margin: 0 auto;
}
.logo__box {
  display: flex;
  align-items: center;
}
.logo__icon {
  display: block;
  width: 8%;
  margin-right: 1.7rem;
}
.logo__text {
  font-size: 2.4rem;
  color: #fff;
}
.nav__list {
  height: 9.4rem;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
}

/* ----------------------------------- */
.top__container {
  margin: 3.6rem auto 2.1rem auto;
  width: 67.7%;
  background-color: #fff;
  border-radius: 0.5rem;
}
.top__player {
  padding: 3.3rem;
}
.heading--primary {
  font-size: 2.4rem;
  font-weight: 500;
  color: #562eff;
  letter-spacing: 0.5px;
  line-height: 3.6rem;
}
.top__player__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2.9rem;
}
.top__player__item {
  display: flex;
  align-items: center;
}
.player__img {
  width: 20%;
  margin-right: 1.6rem;
}
.player__name {
  font-size: 1.8rem;
  color: #000;
  font-weight: 500;
}
.line {
  margin: 0rem 3.3rem;
  color: #f3efef;
}

/* ----------------------------------- */
.top__blog {
  padding: 3rem;
}
.top__blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2.6rem;
  column-gap: 4.6rem;
}
.top__blog__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.blog__img {
  height: 11.7rem;
  width: 17.7rem;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-right: 1.6rem;
}
.heading--secondary {
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.author__title {
  font-size: 1.6rem;
  color: #9f9f9f;
  margin-top: 0.6rem;
}
.author__name {
  color: #562eff;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

/* ----------------------------------- */
.latest__courses {
  padding: 2.3rem 3.3rem;
  margin: 0 auto 2.8rem;
  width: 67.7%;
  background-color: #fff;
  border-radius: 0.5rem;
}
.courses__list {
  display: flex;
}
.courses__item {
  padding: 1.4rem 1.2rem;
  overflow: hidden;
  margin: 0 1.1rem 0 1.1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}
.course__img {
  width: 100%;
  margin-bottom: 1.6rem;
}
.course__author {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ed6b4f;
}
.rating__duration__content {
  display: flex;
  justify-content: space-between;
  /* padding: 0 1.9rem; */
}
.rating__content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star__rating {
  width: 20%;
}
.star__unmark {
  filter: saturate(0%);
}
.rating__point {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin: 0 0.8em 0 0.8rem;
  color: #a2a2a2;
}
.course__duration {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe8eb;
  border-radius: 12rem;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.8rem 0.2rem;
}
.clock__icon {
  width: 15%;
  margin-right: 0.5rem;
}
.duration {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ff4a60;
}
